body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p {
  margin: 0;
  color: #40514E
}

h1 {
  margin-top: 50;
  font-size: 5.625em;
  color: #66BFBF;
  line-height: 2;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 1em;
  text-decoration: none;
  font-weight: bold;
}

hr {
  color: #EAF6F6;
  width: 10%;
  border-top: 0.8em dotted;
  border-bottom: none;
  margin-top: 8em;
  margin-bottom: 8em;
}

.profile{
  width: 40%;
  margin: auto;
}
.profile-img {
  width: 40%;
  margin: 6em auto 40px auto;
}

.chilli-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top_container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px
}

.middle-container {
  line-height: 2;
}

.copyright {
  color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 2em;
  line-height: 3;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.contact-me{
  width: 40%;
  margin: auto;
}

.btn {
  background-color: #66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  margin: 3em;
}
